<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <p>This application is created by Sanjeev. It uses mapbox.com and darknet.sky sites</p>
    <center>
        <img src="/images/sanjeev.jpg">
    </center>
    {{> footer}}
</body>

</html>