<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> header}}
    <p>Use this site to search weather</p>
    <form>
        <input class="location" type="text" placeholder="Location">
        <button class="btn" type="submit">Search</button>
    </form>
    <p class="message" id ="message-1"></p>
    <p class="message" id ="message-2"></p>
    {{> footer}}
    <script src="/js/app.js"></script>
</body>

</html>